<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <span>{{#link-to 'index'}}<button class="btn btn-primary">Home</button>{{/link-to}}</span>
      <span>{{#link-to 'index'}}<button class="btn btn-primary">Categories</button>{{/link-to}}</span>
      <span class="Headington">Queue Questions / Austin Answers</span>
    </ul>
  </div>
</nav>
<br>
  <div class="jumbotron">
    <div class="container">
    </div>
  </div>
{{outlet}}
