  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'index'}}Home{{/link-to}}</li>
      </ul>
    </div>
  </nav>
  <br>
  <header>
  <div class="jumbotron">
    <h2 class="Headington">Queue Questions, Austin Answers</h2>
  </div>
</header>
{{outlet}}
