<div class="container">
  {{question-details question=model destroyQuestion = "destroyQuestion" update="update"}}
  {{#each model.answers as |answer|}}
  {{answer-tile answer=answer}}
  {{/each}}
  <li class="center">{{new-answer saveAnswer="saveAnswer" question=model}}</li>
</div>
